.yamde {
  margin: 0.5rem 0;
  width: 100%;

  .toolbar {
    display: flex;
    margin-bottom: 0px;
    max-height: 36px;
    width: 100%;

    .button {
      cursor: pointer;
      background-color: #ffffff;
      font-size: 13px;
      font-family: Courier, Helvetica, Arial, sans-serif;
      font-weight: 400;
      width: 34px;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid;
      border-right: 1px solid;
      border-bottom: 1px solid;
      border-color: #dddddd;
      transition: background-color 0.2s ease;

      &:first-child {
        border-left: 1px solid #dddddd;
      }

      &.custom {
        font-size: 13px;
        font-family: Courier, Helvetica, Arial, sans-serif;
        font-weight: 400;
      }

      &:hover {
        background-color: #dcdcdc;
        transition: background-color 0.2s ease;
      }

      svg {
        width: 1.05rem;
        height: 1.05rem;
      }
    }

    .view-switch {
      margin-left: auto;
      display: flex;

      .view-btn {
        cursor: pointer;
        font-size: 0.85rem;
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #dddddd;
        transition: background-color 0.2s ease;
        font-weight: 400;
        padding: 0 10px;
        width: 65px;
        color: #a0a0a0;

        &.active {
          border-bottom: 1px solid #ffffff;
          color: #333333;
          background-color: #ffffff;

          &:hover {
            background-color: #ffffff;
          }
        }

        &:first-child {
          border-right: 0;
        }

        &:hover {
          color: #333333;
          background-color: #dcdcdc;
          transition: background-color 0.2s ease;
        }
      }
    }
  }

  textarea {
    border-radius: 0;
    border: 1px solid #dddddd;
    margin-top: -1px;
    width: 100%;
    // display: table;

    &:active,
    &:focus {
      border: 1px solid #dddddd;
    }
  }

  .preview-area {
    border: 1px solid #dddddd;
    width: 100%;
    padding: 0.85em;
    min-height: 50px;
    font-size: 1rem;
    margin-top: -1px;
    font-weight: 400;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: inherit;
      text-align: left;
      margin: 1.25rem 0;
    }

    p {
      font-family: inherit;
      text-align: left;
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 1rem;
      margin-top: 0;
    }

    a {
      text-decoration: underline;
    }
  }
}
